.contact-info{
    border-left: 2px solid $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.contact-actions{
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-size: 22px;

    .actions{
        color: $secondary-color;

        i{
            padding-left: 20px;
        }
    }
}

.contact-actions-buttons{
    width: 400px;
    display: flex;
    justify-content: space-between;
}
