$main-background-color: #fdfdfe;
$main-font: 'Varela Round';
$small-icons-color: #a19395;
$secondary-color: #e3e3f1;
$msg-font-size: 15px;
$contact-msg-background: #6f7399;
$user-msg-background: #edeff3;
$circle-button-size: 80px;